In [30]:
class SQL_query():
    def __init__(self) -> None:
        self.DB_path='./comercial_database.db'
        import pandas
        self.pandas=pandas

    def __connect(self):
        import sqlite3
        self.conn=sqlite3.connect(self.DB_path)
        self.cursor=self.conn.cursor()
        print('-connected')

    def __disconnect(self):
        self.conn.close()
        print('-disconected')
    
    def clients(self):
        self.__connect()
        command=f""" SELECT * FROM CLIENTS"""
        self.cursor.execute(command)
        answer=self.pandas.read_sql_query(command,self.conn)
        self.__disconnect()
        return answer
    
    def order(self):
        command = """SELECT * 
             FROM ORDER_MAIN AS M
             LEFT JOIN ORDER_ITEM AS I
             ON I.order_n = M.ORDER_NUMBER
          """

        self.__connect()
        answer=self.pandas.read_sql_query(command,self.conn)
        self.__disconnect()
        return answer

x=SQL_query()
x.order()

-connected
-disconected

,ID_CLIENT,ORDER_DATE,ORDER_NUMBER,order_n,ID_products,buy_packs,item_n,tab_price,ID
0,02215-015,2023-01-02,202301020001,2.023010e+11,901001.0,54.0,1.0,tab_2,202301020001-001
1,02215-015,2023-01-02,202301020001,2.023010e+11,901003.0,30.0,2.0,tab_1,202301020001-002
2,02215-015,2023-01-02,202301020001,2.023010e+11,901008.0,3.0,3.0,tab_1,202301020001-003
3,02215-015,2023-01-02,202301020001,2.023010e+11,902004.0,63.0,4.0,tab_1,202301020001-004
4,02215-015,2023-01-02,202301020001,2.023010e+11,902006.0,36.0,5.0,tab_1,202301020001-005
...,...,...,...,...,...,...,...,...,...
86944,98101-048,2023-04-29,202304290074,2.023043e+11,902012.0,72.0,4.0,tab_1,202304290074-004
86945,98101-048,2023-04-29,202304290074,2.023043e+11,902015.0,66.0,5.0,tab_1,202304290074-005
86946,98101-048,2023-04-29,202304290074,2.023043e+11,902017.0,204.0,6.0,tab_1,202304290074-006
86947,98101-048,2023-04-29,202304290074,2.023043e+11,903009.0,27.0,7.0,tab_2,202304290074-007
86948,98101-048,2023-04-29,202304290074,2.023043e+11,903018.0,15.0,8.0,tab_1,202304290074-008

In [4]:
from B1_CREATE_DATASET.B03_C_TABLE_CLIENTS import table_clients

table_clients()