In [39]:
class query():
    def __init__(self) -> None:
        self.__prepare()

    def __prepare(self):
        import pandas
        self.pandas=pandas

    def __connect(self):
        import pandas
        import sqlite3
        self.banco=sqlite3.connect('./comercial_database.db')
        self.cursor=self.banco.cursor() 
        print('connected')
    def __disconnect(self):
        self.banco.close()
        print('desconnected')

    def show_tables(self):
        self.__connect()

        command=""" SELECT name FROM sqlite_schema"""
        self.cursor.execute(command)
        response=self.cursor.fetchall()
        response=self.pandas.DataFrame(response)
        display(response)
        self.__disconnect()
        return response

    def show_tables_columns(self,table='PRODUCTS'):
        self.__connect()
        command=f'PRAGMA table_info({table})'
        self.cursor.execute(command)
        response=self.cursor.fetchall()
        self.__disconnect()
        display(response)
        return response

    def execute(self,command=''):
        self.__connect()
        self.cursor.execute(command)
        response=self.cursor.fetchall()
        response=self.pandas.DataFrame(response)
        self.__disconnect()
        return response

query=query()
query.show_tables_columns(table='ORDER_MAIN')
command=""" SELECT * FROM ORDER_MAIN
                WHERE ORDER_DATE=20230102
               """
query.execute(command=command)

connected
desconnected

[(0, 'ID_CLIENT', 'VARCHAR', 0, None, 0),
 (1, 'ORDER_DATE', 'INT', 0, None, 0),
 (2, 'ORDER_NUMBER', 'INT', 0, None, 0)]

connected
desconnected

            0         1             2
0   02215-015  20230102  202301020001
1   02215-022  20230102  202301020002
2   02215-029  20230102  202301020003
3   04101-006  20230102  202301020004
4   04101-043  20230102  202301020005
..        ...       ...           ...
72  98101-022  20230102  202301020073
73  98101-029  20230102  202301020074
74  98101-036  20230102  202301020075
75  98101-043  20230102  202301020076
76  98101-050  20230102  202301020077

[77 rows x 3 columns]